footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    flex-direction: column;
}

footer img {
    max-width: 110px;
}

footer p {
    color: white;
    max-width: 800px;
    text-align: center;
    font-family: "Beaufort for LOL Bold";
}
